* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.style--55px {
  font-size: 55px;
  font-family: "Homenaje", sans-serif;
}

.style--50px {
  font-size: 50px;
  font-family: "Homenaje";
}

.style--23px {
  font-size: 23px;
  font-family: "Maven Pro";
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #fcec04;
  border-radius: 3px;
  border: 3px solid #fcec04;
}

h1 {
  font-weight: bold;
  color: white;
  padding: 100px 10px 10px 10px;
  letter-spacing: 3px;
  word-spacing: 15px;
}

h2 {
  padding: 20px;
  color: rgba(252, 236, 4, 0.9);
  -webkit-text-stroke: 0.8px black;
}

p {
  padding: 0px 7%;
  color: rgba(255, 255, 255, 0.875);
  letter-spacing: 0.8px;
  word-spacing: 3px;
  line-height: 30px;
}

h4 {
  font-family: "Maven Pro";
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  color: white;
}

.pieFoto {
  font-family: "Contrail One", cursive;
  font-size: 23px;
  color: #fcec04;
  text-shadow: 2px 2px 2px #000000;
}

.bloqueG {
  background-color: rgba(53, 53, 53, 0.5);
  margin: 0% 10%;
  column-gap: 5px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "h2 h2" "img p";
}

main {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.tituloP {
  grid-area: h2;
}

.card-text {
  font-family: "Homenaje";
  font-size: 19px;
}

.card-img-top {
  border: 5px solid #000000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.49);
  width: 50vh;
  margin: auto;
}

nav {
  height: 80px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 3;
  display: flex;
}
nav ul {
  margin-left: auto;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0px 5px;
}
nav ul li:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
nav ul li a {
  list-style: none;
  font-family: "Contrail One", cursive;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 7px 10px;
}
nav ul li a:hover {
  color: #fcec04;
}

.prelogo {
  padding-top: 10px;
  padding-left: 10px;
}

.logo {
  height: 80%;
  width: auto;
}

.btn {
  margin-left: auto;
  color: white;
  font-size: 30px;
  line-height: 70px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

body {
  background-image: url(../assets/img/fondo.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.bloqueP {
  background-color: rgba(53, 53, 53, 0.5);
  padding: 5px 20px 20px 20px;
  margin: 30px 10% 5px 10%;
  display: grid;
  border-radius: 2%;
  justify-items: center;
}

.carousel {
  height: 60vh;
}

.img {
  margin: 5px;
}

.d-block {
  height: 80vh;
  width: 80vh;
  object-fit: cover;
}

.row {
  --bs-gutter-x: 0rem;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}
.carousel-item img {
  height: 70%;
  width: auto;
  margin: auto;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.49);
}
.carousel-item p {
  height: 30%;
  padding: 10px 20px;
}

#carouselExampleIndicators {
  width: 80vh;
}

.bloque {
  background-color: rgba(53, 53, 53, 0.5);
  padding: 5px 20px 20px 20px;
  margin: 30px 10% 5px 10%;
  border-radius: 2%;
}

.bloqueF {
  background-color: rgba(53, 53, 53, 0.5);
  padding: 5px 20px 20px 20px;
  margin: 30px 10% 5px 10%;
  border-radius: 2%;
}

.filaUno {
  align-items: center;
  display: flex;
}

.impresora3D {
  width: auto;
  display: inline;
  align-items: center;
  grid-area: img;
  background-image: url("../assets/img/imagen-impresora.jpg");
  background-size: cover;
  background-position: right;
  margin-left: 15px;
}

#primerParrafo {
  display: inline;
  text-align: left;
  padding-left: 30px;
  padding-right: 40px;
  grid-area: p;
}

.pull-right {
  text-align: center;
}
.pull-right .barra {
  padding: 5px 13px;
  outline: none;
  border-radius: 30px;
}
.pull-right .ir {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fcec04;
  font-size: 20px;
  font-family: "Maven Pro";
  border: 2px solid #000000;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.49);
}
.pull-right .ir:hover {
  background-color: rgba(46, 46, 46, 0.7176470588);
  color: #fcec04;
  transition: all 0.2s;
}

.flecha {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  size: 120px;
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  text-decoration: none;
  color: #fcec04;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.49);
}
.flecha:hover {
  transform: scale(1.2);
  transition: all 0.5s;
  color: #fcec04;
}
.flecha:active {
  transform: scale(1);
}

.filamento {
  background-image: url(../assets/img/filamento.jpg);
  background-repeat: no-repeat;
  width: 60vw;
  height: 40vh;
  background-size: cover;
  margin: auto;
  margin-top: 15px;
  align-self: center;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.49);
}

.animate__slideInLeft {
  animation-duration: 3.5s;
  animation-delay: 0.2s;
}

footer {
  text-align: center;
}

div a {
  color: #fcec04;
  font-size: 40px;
}

.fa-instagram:hover {
  transform: scale(1.2);
  transition: all 0.3s;
  color: #fcec04;
}
.fa-instagram:visited {
  color: #fcec04;
}

.copyright {
  font-size: 12px;
  padding: 10px;
  font-family: "Maven Pro";
}

form {
  color: white;
  text-align: left;
  font-size: 20px;
  font-family: "Maven Pro";
}

.conjunto, .conjunto1 {
  padding-bottom: 10px;
  line-height: 35px;
}

.conjunto1 {
  justify-content: space-between;
  display: flex;
}

.delado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5%;
}

.slowmo {
  margin: 0px 20px;
  height: 70vh;
  border: 3px solid #000000;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.49);
}

.boton {
  background-color: #fcec04;
  padding: 5px 10px;
  border-radius: 10px;
}
.boton:hover {
  background-color: rgba(46, 46, 46, 0.7176470588);
  color: #fcec04;
  transition: all 0.2s;
}

ul {
  padding-left: 0;
}

.form-select {
  width: auto;
  display: inline;
}

.medidas {
  width: 50px;
  border-radius: 10%;
  margin: 0% 2px;
}

.renglon {
  margin: 3px 0%;
  display: flex;
}

.cuadro1 {
  align-items: flex-end;
}

.cuadro2 {
  justify-content: start;
}

.input-group {
  margin: 3px 0px;
}

.card {
  width: 30vw;
  margin: 5% 0px;
}

.row {
  display: grid;
  grid-template-areas: "img1 img2" "img3 img4";
  justify-items: center;
}

h5 {
  font-family: "Contrail One", cursive;
  font-size: 22px;
  color: #fcec04;
}

.ladoUno {
  padding-left: 0;
}

.flex-nowrap {
  margin-bottom: 10px;
}

.colores {
  margin-right: 18px;
}

.aqui {
  color: #fcec04;
}

@media (max-width: 860px) {
  nav {
    width: 100vw;
  }
  .bloqueG {
    grid-template-columns: 1fr;
    grid-template-areas: "h2" "p";
    padding: 20px 7%;
  }
  .impresora3D {
    display: none;
  }
  nav ul {
    margin-right: 5px;
  }
  nav ul li a {
    font-size: 15px;
    padding: 3px;
  }
  h1 {
    margin-top: 0px;
  }
  p {
    padding: 0px;
  }
  #primerParrafo {
    justify-self: center;
    background-image: url(../assets/img/imagen-impresora-opaca.jpg);
    background-size: cover;
    padding: 25px;
    text-align: center;
    backdrop-filter: brightness(20%);
  }
  .bloque {
    margin: 5% 7%;
  }
  .bloqueP {
    padding: 5px 5px 5px 5px;
    margin: 5% 13%;
  }
  .card-img-top {
    width: 100%;
  }
  .img {
    height: 28vw;
    width: 28vw;
  }
  .bloqueF {
    margin: 10px 7%;
  }
  textarea {
    max-width: 80vw;
  }
  .renglon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
  }
  .conjunto1 {
    display: grid;
    justify-content: left;
  }
  .delado {
    margin: 0px;
  }
  .slowmo {
    margin-right: 0px;
  }
  .filamento {
    width: 73vw;
    height: 40vh;
  }
}
@media (max-width: 623px) {
  .bloqueG {
    padding: 0% 5% 5% 5%;
    margin: 5%;
  }
  nav {
    z-index: 3;
  }
  li:hover {
    transform: scale(1.5);
    transition: all 0.3s;
  }
  .bloque {
    padding: 0% 5% 5% 5%;
    margin: 5%;
    z-index: 1;
  }
  .btn {
    display: block;
  }
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 40px;
  }
  ul {
    height: 100vh;
    width: 100%;
    position: fixed;
    background: black;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0px;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 18px;
  }
  li a:hover,
li a.active {
    background: none;
    color: #fcec04;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .bloqueP {
    margin: 5%;
    padding: 0%;
  }
  .row {
    display: block;
  }
  .card-img-top {
    width: 60vw;
  }
  .card-text {
    width: 100%;
  }
  .card {
    align-items: center;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
  .card-title {
    width: 100%;
  }
  .d-block {
    height: 75vw;
    width: 75vw;
    object-fit: cover;
  }
  .carousel-inner {
    width: 75vw;
  }
  #carouselExampleIndicators {
    width: 75vw;
  }
  .cambio {
    width: 100%;
  }
  .slowmo {
    display: none;
  }
  .barra {
    width: 70vw;
  }
}
@media (max-width: 509px) {
  .ir {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=estilo.css.map */
