
@import "./components/body";
@import "./components/header";
@import "./components/footer";

@import "./pages/index";
@import "./pages/impresiones3d";
@import "./pages/equipamiento";
@import "./pages/contacto";
@import "./pages/prototipado";




.row{
        --bs-gutter-x: 0rem;
}
.bloque {
    background-color: $colorBG;
    padding: $padding1;
    margin: $margin1;
    border-radius: 2%;
}
.filaUno {
    align-items: center;
    display: flex;
}
#primerParrafo {
    display: inline;
    text-align: left;
    padding-left: 30px;
    padding-right: 40px;
    grid-area: p;
}
.animate__slideInLeft {
    animation-duration: 3.5s;
    animation-delay: 0.2s;
}
div a {
    color: $color1;
    font-size: 40px;
}
.delado{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 5px 5%;
}
ul {
    padding-left: 0;
}
.form-select {
    width: auto;
    display: inline;
}

.renglon {
    margin: 3px 0%;
    display: flex; 
}
.cuadro1{
    align-items: flex-end;
}
.cuadro2{
justify-content: start;

}
.input-group {
    margin: 3px 0px;
}
.card {
    width: 30vw;
    margin: 5% 0px;
}
.row {
    display: grid;
    grid-template-areas:
        "img1 img2"
        "img3 img4";
    justify-items: center;
}


.flex-nowrap{
    margin-bottom: 10px;
}


@media (max-width: 860px) {
    nav {
        width: 100vw;
    }
    .bloqueG {
        grid-template-columns: 1fr;
        grid-template-areas:
            "h2"
            "p";
        padding: 20px 7%;
    }
    .impresora3D {
        display: none;
    }
    nav ul {
        margin-right: 5px;
        li a {
            font-size: 15px;
            padding: 3px;
        }
    }
    h1 {
        margin-top: 0px;
    }
    p {
        padding: 0px;
    }
    #primerParrafo {
        justify-self: center;
        background-image: url(../assets/img/imagen-impresora-opaca.jpg);
        background-size: cover;
        padding: 25px;
        text-align: center;
        backdrop-filter: brightness(20%);
    }
    .bloque {
        margin: 5% 7%;
    }
    .bloqueP {
        padding: 5px 5px 5px 5px;
        margin: 5% 13%;
    }
    .card-img-top{
        width: 100%;
    }
    .img {
        @include dimension(28vw, 28vw);
    }
    .bloqueF {
        margin: 10px 7%;
    }
    textarea {
        max-width: 80vw;
    }
    .renglon{
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
    }
    .conjunto1{
        display: grid;
        justify-content: left;
    }
    .delado{
        margin: 0px;
    }
    .slowmo{
        margin-right: 0px;
    }
    .filamento{
        width: 73vw;
        height: 40vh;
        
    }

}


@media (max-width: 623px) {
    .bloqueG {
        padding: 0% 5% 5% 5%;
        margin: 5%;
    }
    nav {
        z-index: 3;
    }
    li:hover {
        transform: scale(1.5);
        transition: all 0.3s;
    }
    .bloque {
        padding: 0% 5% 5% 5%;
        margin: 5%;
        z-index: 1;
    }
    .btn {
        display: block;
    }
    p {
        font-size: 18px;
    }
    h1 {
        font-size: 40px
    }
    h2 {
        font-size: 40px;
    }
    ul {
        @include dimension(100%, 100vh);
        position: fixed;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0px;
        line-height: 30px;
        a {
            font-size: 18px;
            }
    }
    li a:hover,
    li a.active {
        background: none;
        color: $color1;
    }
    #check:checked~ul {
        left: 0;
    }
    .bloqueP {
        margin: 5%;
        padding: 0%;
    }
    .row {
        display: block;
        
    }
    .card-img-top {
        width: 60vw;
    }
    .card-text {
        width: 100%;
    }
    .card {
        align-items: center;
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        

    }
    .card-title {
        width: 100%;
    }
    .d-block{
        @include dimension(75vw, 75vw);
        object-fit: cover;
    }
    .carousel-inner{
        width: 75vw;
    }
    #carouselExampleIndicators{
        width: 75vw;
    }
    .cambio{
        width: 100%;
    }
    .slowmo{
        display:none;
    }
    .barra{
        width: 70vw;
    }
}
@media (max-width: 509px) {
.ir{

    margin-top: 10px;
}
}
