.filamento{
    background-image: url(../assets/img/filamento.jpg);
    background-repeat: no-repeat;
    width: 60vw;
    height: 40vh;
    background-size: cover; 
    margin: auto;
    margin-top: 15px;
    align-self: center;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.49);
}
.slowmo{
    margin: 0px 20px;
    height: 70vh;
    border: 3px solid #000000;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.49)
}
.ladoUno{
    padding-left: 0;
}