.card-text{
    font-family: $fuente2;
    font-size: 19px;
}
.card-img-top{
    border:5px solid #000000;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.49);
    width: 50vh;
    margin: auto;
}